*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Karla", sans-serif;
    display: flex;
    align-items:  center;
    justify-content: center;
    background-color: #E5E5E5;
    height: 100vh;
}
.container{
    width: 550px;
    height: 550px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
}

.header{
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #FFF;
}
.header--logo{
    display: flex;
    align-items: center;
    gap: 8px;
}
.header--logo > img{
    flex: 0 0 auto;
}

.form{
    margin: 36px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form--texts{
    display: flex;
    justify-content: space-between;
}
.form--text{
    width: 230px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
}
.form--submit{
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    border: none;
    font: inherit;
    color: #FFF;
}

.meme {
    position: relative;
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meme--image {
    max-width: 480px;
    max-height: 300px;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}